Repository clEsperanto/CLIc, pull requests merged in 2022-12, with the labels that each got.

#124 add convolve
  clic/include/core/clesperanto.hpp
  clic/include/tier1/cleConvolveKernel.hpp
  clic/src/core/clesperanto.cpp
  clic/src/tier1/cleConvolveKernel.cpp
  tests/CMakeLists.txt
  tests/convolve_test.cpp
Labels: kernel

#126 FIX: cover several config and build presets
  CMakePresets.json
  cmake/presets/CMakePresets.json
  cmake/presets/linux/CMakePresets.json
  cmake/presets/macos/CMakePresets.json
  cmake/presets/windows/CMakePresets.json
  tests/CMakeLists.txt
Labels: CMake

#125 extend documentation: add_new_kernel
  README.md
  docs/guidelines.md
  docs/how_to_build/linux_build/configure_cmake.png
  docs/how_to_build/linux_build/configure_compiler.png
  docs/how_to_build/linux_build/linux_build.md
  docs/how_to_build/macos_build/configure_cmake.png
  docs/how_to_build/macos_build/configure_compiler.png
  docs/how_to_build/macos_build/macos_build.md
  docs/how_to_build/opencl_installation.md
  docs/how_to_build/windows_build/configure_cmake.png
  docs/how_to_build/windows_build/configure_compiler.png
  docs/how_to_build/windows_build/release_build.png
  docs/how_to_build/windows_build/visual_studio_download.png
  docs/how_to_build/windows_build/visual_studio_installation.png
  docs/how_to_build/windows_build/windows_build.md
  docs/how_to_contribute/coding_style.md
  docs/how_to_contribute/kernel_class_creation.md
  docs/how_to_contribute/kernel_test_case.md
Labels: documentation

#129 Add usage of nD buffer memory type (BufferRect)
  clic/include/core/cleBackend.hpp
  clic/include/core/cleMemory.hpp
  clic/src/core/cleImage.cpp
Labels: enhancement, Backend

#130 Add power kernel, power images kernel, and multiply image and scalar kernel
  clic/include/core/cleMemory.hpp
  clic/include/core/clesperanto.hpp
  clic/include/tier1/cleMultiplyImageAndScalarKernel.hpp
  clic/include/tier1/clePowerImagesKernel.hpp
  clic/include/tier1/clePowerKernel.hpp
  clic/src/core/clesperanto.cpp
  clic/src/tier1/cleEqualKernel.cpp
  clic/src/tier1/cleMultiplyImageAndScalarKernel.cpp
  clic/src/tier1/clePowerImagesKernel.cpp
  clic/src/tier1/clePowerKernel.cpp
  tests/CMakeLists.txt
  tests/multiply_image_and_scalar_test.cpp
  tests/power_images_test.cpp
  tests/power_test.cpp
Labels: kernel

#131 Add map/unmap functionnality
  benchmark/CMakeLists.txt
  benchmark/benchmark_push_pull.cpp
  clic/include/core/cleBackend.hpp
  clic/include/core/cleMemory.hpp
Labels: Backend

#133 Replace vector to array in the backend
  clic/include/core/cleMemory.hpp
  clic/include/core/clesperanto.hpp
  clic/src/tier2/cleDilateLabelsKernel.cpp
  clic/src/tier2/cleExtendLabelingViaVoronoiKernel.cpp
  clic/src/tier3/cleCloseIndexGapsInLabelMapKernel.cpp
  clic/src/tier3/cleHistogramKernel.cpp
  clic/src/tier4/cleConnectedComponentLabelingBoxKernel.cpp
  clic/src/tier4/cleThresholdOtsuKernel.cpp
  clic/src/tier5/cleMaskedVoronoiLabelingKernel.cpp
  tests/core_buffer_test.cpp
  tests/core_image_test.cpp
  tests/core_kernel_test.cpp
Labels: Backend
